body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 90px;
}

.top-banner {
    background-image: url("/resources/Banner\ Image.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 600px;
    width: 1200px;
    text-align: center;
    display: flex;
    font: bolder;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-banner h1 {
    color: #ffff;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.top-banner h2 {
    color: #ffff;
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.title {
    text-align: center;
}

.middle-pic {
    width: 800px;
    height: 500px;
}

.title-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    color: red;
}

.title h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
    color: #FF0000;
    line-height: 20px;
}

.title h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 20px;
}

.midnight-part {
    background-image: url('/resources/Vectorrr.png');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 600px;
    background-size: 1200px;
    background-position: center;

}

.midnight-title {
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.midnight-title h3 {
    width: 640px;
    font-size: 65px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 4px;
    font-style: normal;
}

.midnight-title p {
    width: 640px;
}

.midnight-title a {
    text-decoration: none;
    color: #ffff;
}

.midnight-part img {
    width: 315px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Date{
    font-size: 25px;
    text-align: center;
    border: 0px;
    padding: 100px 300px 214px 370px;
    background-color: rgba(248, 220, 225, 0.84);
    border-radius: 10px;
}
.Date button{
    background-color: #FF0000;
    color: #ffff;
    padding: 15px 30px;
    border: 0px;
    border-radius: 10px;
}